entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["npx", "expo", "start", "--web"]
deploymentTarget = "autoscale"
ignorePorts = false

[workflows]
runButton = "Start Web"

[[workflows.workflow]]
name = "Start Expo"
author = 44858890
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start"

[[workflows.workflow]]
name = "Start Expo Dev"
author = 44858890
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --clear"

[[workflows.workflow]]
name = "Start Web"
author = 44858890
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --web"

[[ports]]
localPort = 19006
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081
